/***************** Кнопка ******************/
.form-btn {
  display: block;
  width: 180px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: linear-gradient(to left, #59c173, #a17fe0, #5d26c1);
  border-radius: 4px;
  box-shadow: -4px 6px 4px #bcbba3;
  border: none;
  cursor: pointer;
  background-size: 200%;
  transition: 500ms;
}

.form-btn:hover {
  background-position: right;
}

.form-btn:active {
  box-shadow: 0px 2px #bcbba3;
  transform: translate(0, 4px);
}

/******--  sending-btn ----********/
.sending-btn {
  display: block;
  width: 180px;
  height: 40px;
  /* font-size: 16px; */
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: linear-gradient(to left, #5d26c1, #0f9b0f, #5d26c1);
  border-radius: 4px;
  box-shadow: -4px 6px 4px #bcbba3;
  border: none;
  cursor: pointer;
  background-size: 200%;
  transition: 500ms;
  margin: 0 auto;
}

.sending-btn:hover {
  background-position: right;
}

.sending-btn:active {
  box-shadow: 0px 2px #bcbba3;
  transform: translate(0, 4px);
}

/****************************************************************************/
/*********** Media 768 ************/
/* @media screen and (min-width: 768px) {
  .sending-btn {
    height: 40px;
  }
} */
/****************************************************************************/
/*********** Media 1158 ************/
@media screen and (min-width: 1158px) {
  .form-btn,
  .sending-btn {
    width: 220px;
    height: 42px;
    font-size: 24px;
  }
}
