/***************** Кнопка ******************/
.btn {
  display: block;
  width: 180px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.04em;

  border-radius: 4px;
  box-shadow: -4px 6px 4px #bcbba3;
  border: none;
  cursor: pointer;

  background-size: 200%;
  background-color: gray;
  color: white;
  transition: transform 300ms linear;
}

.sending-btn {
  margin: 0 auto;
}

.btn:disabled {
  cursor: not-allowed;
}

.form-btn:not(:disabled) {
  background: linear-gradient(to left, #59c173, #a17fe0, #5d26c1);
}

.sending-btn:not(:disabled) {
  background: linear-gradient(to left, #5d26c1, #0f9b0f, #5d26c1);
}

.btn:not(:disabled):active {
  box-shadow: 0px 2px #bcbba3;
  transform: translate(0, 4px);
}

/****************************************************************************/
/*********** Media 1158 ************/
@media screen and (min-width: 1158px) {
  .btn {
    width: 220px;
    height: 38px;
    font-size: 20px;
  }
}
