/************** Збираємо Контейнер ************************/

.container-big {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 0 auto;
  margin-bottom: 30px;

  width: 100%;
  min-width: 350px;
  max-width: 780px;

  height: 340px;
  border-radius: 4px;

  padding-top: 30px;

  background: url(../img/cargo-min.png) top center / 100% 320px no-repeat;

  transition: transform 3500ms linear;
}

.container-img {
  background-color: transparent;
  min-width: 303px;
  width: 90%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  gap: 1px 1px;
  margin: 0 auto;
}

.box {
  margin: 0;
  min-width: 29px;

  width: calc((100% - (9 * 1px)) / 10);

  height: 40px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid gray;
  box-shadow: 1px 2px 2px 2px rgba(184, 154, 55, 0.76);

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;

  visibility: hidden;
}

.apple {
  background-image: linear-gradient(
      rgba(67, 47, 100, 0.4),
      rgba(58, 46, 66, 0.3)
    ),
    url(../img/apple.jpg);
}

.grape {
  background-image: linear-gradient(
      rgba(67, 47, 100, 0.4),
      rgba(58, 46, 66, 0.3)
    ),
    url(../img/grape.jpg);
}

.banana {
  background-image: linear-gradient(
      rgba(67, 47, 100, 0.4),
      rgba(58, 46, 66, 0.3)
    ),
    url(../img/banana.jpg);
}

.moving {
  transform: translateX(160%);
}

/*********** Media 768 ************/
@media screen and (min-width: 768px) {
  .container-big {
    height: 440px;
    background-size: 100% 440px;
    padding-top: 40px;
    margin-bottom: 18px;
  }

  .box {
    height: 56px;
  }
}
